config-notification {
    disable-failed
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
hotkey-overlay {
    skip-at-startup
}
debug {
    honor-xdg-activation-with-invalid-serial
}
recent-windows {
    binds {
        Alt+Tab {
            next-window scope="output"
        }
        Alt+Shift+Tab {
            previous-window scope="output"
        }
        Alt+grave {
            next-window filter="app-id"
        }
        Alt+Shift+grave {
            previous-window filter="app-id"
        }
    }
}
