input {
    keyboard {
        xkb {
            layout "lafayette"
            options "caps:escape"
        }
        numlock
    }
    touchpad {
        natural-scroll
        tap
        click-method "clickfinger"
        accel-profile "adaptive"
        drag true
    }
    mouse {
        accel-profile "flat"
        accel-speed 0
    }
    focus-follows-mouse max-scroll-amount="0%"
}
