//--------------------//
//--------------------//
//----WINDOW RULES----//
//--------------------//
//--------------------//

// Rules for all windows
window-rule {
  geometry-corner-radius 20 
  clip-to-geometry true
  default-column-width { proportion 0.5; }
  background-effect {
    blur true
    xray true
  }
}

//---- GENERAL ----//

// Fullwidth
window-rule {
	match app-id="org.vinegarhq.Sober" // Sober
  default-column-width { proportion 0.9999999; }
}

// Screencasted highlight
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}


// Gnome apps
window-rule {
  match app-id=r#"^org\.gnome\."#
  draw-border-with-background false
  clip-to-geometry true
  geometry-corner-radius 12
}

// Pop-ups
window-rule {
	match app-id="org.vinegarhq.Sober" title="Servers" // Sober Servers page
  match app-id=r#"zen$"# title="^Picture-in-Picture$" // Zen Browser Picture in Picture
  match app-id="yad" title="Window Information" // Window Information
  match app-id="org.example.MultiSober" // Withdrawal
  match app-id="org.gnome.Solanum" // Solanum
  match app-id="com.gabm.satty"
	open-fullscreen false
	open-floating true
}
// Fullscreen
window-rule {
  match app-id="Waydroid" // Waydroid
  match app-id="qemu" // QEMU vms
  open-fullscreen true
}

// Games vrr
window-rule {
  match app-id="org.vinegarhq.Sober"
  match title="^Minecraft*"
}

//Quickshell buoy
window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}

// Inactive windows
/-window-rule {
  match is-active=false
}

// Floating {
window-rule {
  match is-floating=true
  min-width 100
  min-height 100
}

//---- SPECIFIC ----//

// Window informator size
window-rule {
  match app-id="yad" title="Window Information" // Window Information
  min-width 500
  min-height 328
  //used to be 352
}

// Terminal no background on border
window-rule {
  match app-id="kitty"
  draw-border-with-background false
  // default-column-width { proportion 0.3333333; }
}

// Steam notification toasts
window-rule {
    match app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}


//---------------------//
//---------------------//
//---- LAYER RULES ----//
//---------------------//
//---------------------//

//---- SPECIFIC ----//

// Wallpaper blur for overview
layer-rule {
  match namespace="dms:blurwallpaper" // DankMaterialShell blurred wallpaper layer
  place-within-backdrop true
}

/-layer-rule {
  match namespace="^noctalia-wallpaper*" // Noctalia Shell overview layer
  place-within-backdrop true
}

layer-rule {
  match namespace="discord-overlay"
  opacity 0.000001
}

layer-rule {
  match namespace="discord-overlay-notifications"
  block-out-from "screencast"
  opacity 0.2
}

