workspace default
workspace productivity
workspace entertainment
workspace scratch
// School
window-rule {
    match app-id=notion-calendar-widget
    match app-id="Lotion"
    match app-id="ticktick"
    match app-id="org.kde.merkuro.calendar"
    match app-id="com.danklinux.dankcalendar"
    open-on-workspace "productivity"
}
// Entertainment
window-rule {
    match app-id=steam
    match app-id="org.vinegarhq.Sober"
    match app-id="org.example.MultiSober"
    open-on-workspace "entertainment"
}
// Scratchpad
window-rule {
    match app-id=discord
    match app-id="equibop"
    match app-id="floating-term"
    open-floating true
    open-on-workspace scratch
}
